# Data Science Tools and Ecosystem

#### __In this notebook, Data Science Tools and Ecosystem are summarized__

**Objectives**:
+ List of popular languages for Data Science
+ List of Commonly used libraries used by Data Scientists
+ List of Data Scients Tools
+ Examples of arithmetics expressions

### Some of the popular languages that Data Science use are:
1. Python
2. R
3. SQL
4. JAVA
5. Scala and _others_

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplatlib
3. Seaborn
4. ggplot2
5. Vegas and _others_

### Data Science Tools
|Data Science Tools|
|-----|
|Jupityer|
|R Studio|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple ticky arithmetic expression firstly need to multiply then add integers
2+8*3

26

In [4]:
# This will convert 200 minutes to hours by diving by 60
total_min=200
min=total_min%60
hrs=(total_min)/60
print (hrs)

3.3333333333333335

## Author
Jevgenijs Ivanovskis